<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body>
<h1><%= title %></h1>
<ol>
    <% _.each(items, function(topC) { %>
    <li>
        <h1><%= topC.name %></h1>

        <p><%= topC.page_description %></p>
        <% if (topC.image) { %>
        <div>
            <img src="/images/<%= topC.image %>">
        </div>
        <% } %>
        <div>
            <ol>
                <% _.each(topC.categories, function(subC) { %>
                <li>

                    <!-- <h2><%= subC.name %></h1> -->

                    <h2><%= subC.name %></h2>

                    <p><%= subC.page_description %></p>
                    <% if (subC.image) { %>
                    <div>
                        <img src="/images/<%= subC.image %>">
                    </div>
                    <% } %>
                </li>
                <% }); %>
            </ol>
        </div>
    </li>
    <% }); %>
</ol>
</body>
</html>